<!--<div class="center-div">
	<mat-card class="panel panel-primary">
		<mat-card-title>
			<h3 class="panel-title">Contact Us</h3>
		</mat-card-title>
		<div class="panel-body">
			<form [formGroup]="form" novalidate action="/sendClientEmail" method="post">

				<mat-form-field>
					<input matInput formControlName="name" placeholder="Name">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="email" placeholder="Email">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="phone" placeholder="Phone">
				</mat-form-field>

				<mat-form-field>
					<textarea matInput formControlName="message" placeholder="Message"></textarea>
				</mat-form-field>
				<button matButton (click)="sendClientEmail()">Submit</button>
			</form>
		</div>
	</mat-card>
</div>-->

<div class="container">
	<div class="row">
		<div class="col">
			<form [formGroup]="contactFormData" novalidate action="/pushContactFormData" method="post">
				<div class="form-group row has-success">
					<label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-success" id="name" name="name">

					</div>
				</div>
				<div class="form-group row has-success">
					<label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control form-control-success" id="Email" name="email" placeholder="name@example.com">

					</div>
				</div>
				<div class="form-group row has-success">
					<label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Phone</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-success" id="phone" name="phone">

					</div>
				</div>

				<div class="form-group row has-success">
					<label for="exampleTextarea" class="col-sm-2 col-form-label">Sub</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="message" rows="3" name="message"></textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" (click)="pushContactFormData()">Submit</button>
			</form>
		</div>
		<div class="col">map here!</div>
	</div>
</div>

<!--<button (click)="fileDownload()">Export</button>-->