<div class="row">
  <div class="col-xs-6 col-lg-4" style="background-color:red">.col-xs-6 .col-lg-4</div>
  <div class="col-xs-12 col-sm-6 col-lg-8" style="background-color:blue">.col-xs-12 .col-sm-6 .col-lg-8</div>  
</div>





<!--<div class="container-fluid">      
    <p><ngb-progressbar [showValue]="true" type="info" [value]="50"></ngb-progressbar></p>
</div>-->

<!--<div class="container-fluid" *ngFor="let img of localImg">
   <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img [src]='img.url' class="img-responsive" style="width:50%">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="https://i.scdn.co/image/2fd8fa0f7ef2f83691a0fb9628ee369b8e3b688e" class="img-responsive">
        </div>
    </div>
</div>
-->
<!--
<div class="skills">
  <ul class="lines">
    <li class="line l--0">
      <span class="line__label title">
        Skill level:
      </span>
    </li>
    <li class="line l--25">
      <span class="line__label">
        The basics
      </span>
    </li>
    <li class="line l--50">
      <span class="line__label">
        Advanced
      </span>
    </li>
    <li class="line l--75">
      <span class="line__label">
        Seasoned
      </span>
    </li>
    <li class="line l--100">
      <span class="line__label">
        Expert
      </span>
    </li>
  </ul>
  
  <div class="charts">
    <div class="chart chart--dev">
      <span class="chart__title">Development</span>
      <ul class="chart--horiz">
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            HTML5
          </span>
        </li>
        <li class="chart__bar" style="width: 60%;">
          <span class="chart__label">
            CSS3 & SCSS
          </span>
        </li>
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            JavaScript
          </span>
        </li>
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            AngularJS
          </span>
        </li>       
        <li class="chart__bar" style="width: 40%;">
          <span class="chart__label">
            jQuery
          </span>
        </li>
        <li class="chart__bar" style="width: 55%;">
          <span class="chart__label">
            NodeJS
          </span>
        </li>
      </ul>
    </div>
    
    <div class="chart chart--prod">
      <span class="chart__title">Productivity</span>
      <ul class="chart--horiz">
      <li class="chart__bar" style="width: 75%;">
        <span class="chart__label">
           Github, SVN
        </span>
      </li>      
    </ul>
    </div>    
  </div>
</div>-->

<!--<br><br><br><br><br>-->

