<!--<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink=""><b>About</b> </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="exp"><b>EX</b></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="skills"><b>Tech stacks </b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"><b>Reach me</b></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer>Footer here</footer>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
      <div class="container">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink=""><b>About</b> </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="exp"><b>EX</b></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="skills"><b>Tech stacks </b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"><b>Reach me</b></a>
        </li>
      </ul>
        </div>
      </div>
    </nav>
<div>
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
<!--<nav>
<a routerLink="">about</a> |
<a routerLink="contact">contact</a>

</nav>-->

<!--
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">  
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
<li class="nav-item ">
<a class="nav-link" routerLink=""><b>About</b> </a>
</li>
<li class="nav-item ">
<a class="nav-link" routerLink="exp"><b>EX</b></a>
</li>
<li class="nav-item ">
<a class="nav-link" routerLink="skills"><b>Tech stacks </b></a>
</li>      
<li class="nav-item">
<a class="nav-link" routerLink="contact"><b>Reach me</b></a>
</li>     
</ul>   
</div>
</nav>
</header>-->
